<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alarm_type</key>
		<string>小区接反</string>
		<key>alarm_describe</key>
		<string>BBU侧光纤对调</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>RRU断电</string>
		<key>alarm_describe</key>
		<string>确认设备加电</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>光模块告警</string>
		<key>alarm_describe</key>
		<string>更换光模块、确认设备加电</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>光纤告警</string>
		<key>alarm_describe</key>
		<string>更换光纤、确认设备加电</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>RRU温度告警</string>
		<key>alarm_describe</key>
		<string>更换光模块恢复</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>光纤高误码</string>
		<key>alarm_describe</key>
		<string>线路问题，更换纤芯</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>驻波告警</string>
		<key>alarm_describe</key>
		<string>重新新做馈线头</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>DU告警</string>
		<key>alarm_describe</key>
		<string>更换DU</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>GPS告警</string>
		<key>alarm_describe</key>
		<string>更换ovp模块、蘑菇头、接收器、拧紧接头</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>SCU告警</string>
		<key>alarm_describe</key>
		<string>更换机框、EC线</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>SCU告警</string>
		<key>alarm_describe</key>
		<string>EC线连接后恢复</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>同步丢失</string>
		<key>alarm_describe</key>
		<string>删除NSS同步文件重启</string>
	</dict>
	<dict>
		<key>alarm_type</key>
		<string>停电告警</string>
		<key>alarm_describe</key>
		<string>设备掉电，加电恢复</string>
	</dict>
</array>
</plist>
