<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1、硬件状态检查</string>
		<key>list</key>
		<array>
			<string>1.1确认电源的类型，是直流电还是交流电，电压正常</string>
			<string>1.2站型和设计文件一致，扇区的配置和设计一致</string>
			<string>1.3确认传输类型和设计文件一致，传输线安装完成，跟客户确认传输已连通</string>
			<string>1.4完成所有板卡安装后立即进行全面细致的检查，避免螺丝拧断及个别螺丝没有拧紧,调测结束后重新确认所有螺丝均已上紧</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>2、加电</string>
		<key>list</key>
		<array>
			<string>2.1 检查电源线连接准确无误，推上合适的熔丝，在机柜系统电压测试点测得电压正常后，再依次给电扇及板件加电</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>3、本调</string>
		<key>list</key>
		<array>
			<string>3.1 基站软件版本跟RAN TL提供软件一致
</string>
			<string>3.2 OMT的版本必须与基站所使用软件要求的OMT版本相一致，并注意根据设备型号配置相应的IDB（如V1,V2等）</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>4、联调</string>
		<key>list</key>
		<array>
			<string>4.1 基站硬件正常，没有告警</string>
			<string>4.2 使用锁频手机进行拨打测试，保证每个小区都能占用</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>5、与RNC工程师确认基站状态</string>
		<key>list</key>
		<array>
			<string>5.1 BSC侧确认基站状态正常并且没有告警</string>
			<string>5.2 BSC侧确认基站有用户占用并且得到BSC确认可以离开现场</string>
			<string>5.3 RNC工程师通知可以离开基站</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>6、离开前通知客户机房</string>
		<key>list</key>
		<array>
			<string>6.1 打扫基站卫生，关灯，通知客户机房离开该站</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>7、记录基站信息并保存</string>
		<key>list</key>
		<array>
			<string>7.1 将基站信息汇总在基站报告中，每天交给基站负责人汇总</string>
		</array>
	</dict>
</array>
</plist>
