<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1、设备运行及LED状态</string>
		<key>list</key>
		<array>
			<string>1.1 DU板LED运行状态 主板运行状态绿色灯稳定不闪为正常/cabx</string>
			<string>1.2 小区光纤LED运行状态 绿色灯稳定不闪为正常</string>
			<string>1.3 GPS接收器LED运行状态 GPS接收器运行状态绿色灯稳定不闪为正常</string>
			<string>1.4 RRU的LED运行状态 RRU运行状态绿色灯稳定不闪为正常/cabx</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>2、告警信息</string>
		<key>list</key>
		<array>
			<string>2.1 基站告警 通过EM或者moshell查看 或者 让后台工程师协助察看</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>3、IP传输状态</string>
		<key>list</key>
		<array>
			<string>3.1 TNB口及传输设备指示灯 绿色灯亮为正常
</string>
			<string>3.2 OAM	moshell命令：ping OAM下一跳（可以前台察看或与后台工程师沟通结果）</string>
			<string>3.3 MME	moshell命令：acc hostet ping MME地址（可以前台察看或与后台工程师沟通结果）</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>4、备份</string>
		<key>list</key>
		<array>
			<string>4.1 系统备份（CV / Backup ）通过EM或者moshell做CV / backup  或让后台工程师做CV / backup</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>5、未激活小区情况下告警处理</string>
		<key>list</key>
		<array>
			<string>5.1 激活小区前的处理告警	这种情况下，主要是处理和基站侧硬件有关的一些明显告警</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>6、激活小区情况下的告警处理</string>
		<key>list</key>
		<array>
			<string>6.1 激活小区后的告警处理	一些告警不激活小区不会出现（如驻波比），所以在条件允许的情况下，处理告警时尽量激活小区</string>
		</array>
	</dict>
</array>
</plist>
